<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/comic">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>详情</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="time"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
      <ion-button (click)="showMore($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-item lines="none" color="primary">
        <ion-thumbnail slot="start">
          <img [src]="comic?.cover">
        </ion-thumbnail>
        <ion-label>
          <h3>{{comic?.title}}</h3>
          <p class="author">{{comic?.author}}</p>
          <p class="description" [style.-webkit-box-orient]="'vertical'">{{comic?.description}}</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <p>
          <span [style.font-size.px]="10" [style.float]="'left'">{{comic?.finish ? '已完结' : '连载中'}}</span>
          <span *ngIf="comic?.update" [style.font-size.px]="10" [style.float]="'right'">最后更新：{{comic?.update}}</span>
        </p>
      </ion-list>
      <p>
        <ion-chip *ngFor="let chapter of comic?.chapters" [outline]="chapter.name === comic.chapter ? false : true" [color]="chapter.name === comic.chapter ? 'primary' : ''">
          <ion-label>{{chapter.name}}</ion-label>
        </ion-chip>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="toggleFavorite();">
      <ion-icon [name]="comic.favorite ? 'heart' : 'heart-empty'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
